name: Compile

on:
  pull_request:
    paths:
      - ".github/workflows/compile-examples.yml"

  push:
    paths:
      - ".github/workflows/compile-examples.yml"
      - "./**"

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      SKETCHES_REPORTS_PATH: sketches-reports

    strategy:
      fail-fast: false

      matrix:
        board:
          - fqbn: arduino:samd:nano_33_iot
            platforms: |
              - name: arduino:samd

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Compile
        uses: arduino/compile-sketches@main
        with:
          fqbn: ${{ matrix.board.fqbn }}
          platforms: ${{ matrix.board.platforms }}
          enable-deltas-report: true
          libraries: |
            - source-path: ./
            - name: 107-Arduino-MCP2515
            - name: 107-Arduino-UAVCAN
            - name: I2C_Eeprom
            - source-url: https://github.com/adafruit/Adafruit_SleepyDog.git

          sketches-report-path: ${{ env.SKETCHES_REPORTS_PATH }}
          sketch-paths: ./

      - name: Save memory usage change report as artifact
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.SKETCHES_REPORTS_PATH }}
          path: ${{ env.SKETCHES_REPORTS_PATH }}
